body {
	font: 400 15px/1.8 Lato, sans-serif;
	color: #777;
	background-color: #F7F7F7;

}

h1{
	font-size: 35px;
	color: #111;
	font-weight: bolder;
	font-family: Montserrat, sans-serif;
	color: #239D39;
}
.join{
	
	font-size: 20px;
	color: #111;
	font-weight: lighter;
	font-family: Montserrat, sans-serif;
	color: #0B671A;
}
h3, h4 {
	margin: 10px 0 30px 0;
	letter-spacing: 10px;
	font-size: 20px;
	color: #111;
}
.leftdiv{
	width: 60%;
	float: left;
}
.rightdiv{
	width: 40%;
	float:right;	
}
.rightdiv-inner{
	margin-left: 30px;
	margin-top: 80px;
}
.container {
	padding: 80px 120px;
}

.person {
	border: 10px solid transparent;
	margin-bottom: 25px;
	width: 80%;
	height: 80%;
	opacity: 0.7;
}

.person:hover {
	border-color: #f1f1f1;
}
.carousel-inner img {
	-webkit-filter: grayscale(90%);
	filter: grayscale(90%); /* make all photos black and white */
	width: 100%; /* Set width to 100% */
	margin: auto;
}

.carousel-inner>.item>img {
	width: 1000px;
	height: 662px;
}

.carousel-caption h3 {
	color: #fff !important;
}

@media ( max-width : 600px) {
	.carousel-caption {
		display: none;
		/* Hide the carousel text when the screen is less than 600 pixels wide */
	}
}

.nav-tabs li a {
	color: #777;
}

.navbar {
	font-family: Montserrat, sans-serif;
	margin-bottom: 0;
	background-color: #2d2d30;
	border: 0;
	font-size: 11px !important;
	letter-spacing: 4px;
	opacity: 1;
}

.navbar li a, .navbar .navbar-brand {
	color: #d5d5d5 !important;
}

.navbar-nav li a:hover {
	color: #fff !important;
}

.navbar-nav li.active a {
	color: #fff !important;
	background-color: #29292c !important;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
	padding-top: 30px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	position: relative;
	display: inline-block;
	color: #696969;
	box-sizing: border-box;
}

/* Set a style for all buttons */
button {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 40%;
	text-align: center;
}

.w3-btn {
	width: 150px;
}

button:hover {
	opacity: 0.8;
}

.imgcontainer {
	text-align: center;
	margin: 24px 0 12px 0;
	position: relative;
}

span.psw {
	float: right;
	padding-top: 16px;
}

/* Modal Content/Box */
.modal-content {
	background-color: #323232;
	margin: 5% auto 15% auto;
	/* 5% from the top, 15% from the bottom and centered */
	width: 25%; /* Could be more or less, depending on screen size */
	color: #fff;
}

/* The Close Button (x) */
.close {
	position: absolute;
	right: 25px;
	top: 0;
	color: white;
	font-size: 25px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: white;
	cursor: pointer;
}

/* Add Zoom Animation */
.animate {
	-webkit-animation: animatezoom 0.6s;
	animation: animatezoom 0.6s
}

-webkit-keyframes animatezoom {
	from {-webkit-transform: scale(0)
}

to {
	-webkit-transform: scale(1)
}

}
keyframes animatezoom {
	from {transform: scale(0)
}

to {
	transform: scale(1)
}
}